@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&family=Hind:wght@500&family=Lora:ital@1&display=swap');

:root {
    --main-bg-color: #2874f0;
}

* {
    padding: 0;
    margin: 0;
}

header {

    background-color: var(--main-bg-color);
    font-family: 'Lora', serif;

}

.dropdown {
    float: left;
    overflow: hidden;
    margin: 500px;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(209, 230, 155);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 12vh;

}

nav ul li {
    list-style: none;
    padding: 0 24px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: wheat;
    font-weight: bold;

}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 85px;
    padding: 0 25px;
}

.container {
    height: 81vh;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 300px;
    height: 25px;
    border-radius: 5px;
    margin: 0 20px 0 100px;
}

.btn {
    padding: 5px 5px;
    border: 2px solid var yellow;
    border-radius: 7px;
    cursor: pointer;
    background-color: whitesmoke
}

.slider {
    margin: 12px auto;
    width: 120vh;
}

.card {
    max-width: 91vw;
    margin: auto;
    background-color: whitesmoke;
    font-family: 'Lora', serif;
}

.card-item {
    font-family: 'Lora', serif;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 19px;

}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}


.foot {
    display: flex;
    margin-top: 140vh;
    justify-content: center;
    background-color: var(--main-bg-color);
    color: white;
    height: 1.5cm;
    align-items: center;
}